section.courses {
    #slide_banner {
        .item {
            img {
                height: 200px;
                object-fit: cover;
            }
        }
    }

    .menu_left {
        box-shadow: 1px 2px 4px rgba(41, 48, 59, 0.3);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        &.no_shadow{
            box-shadow: 0px 0px 0px rgba(41, 48, 59, 0.3);
        }
        @media (max-width: 767px) {
			width: 100%;
		}

        form {
            position: relative;
            margin-top: 10px;
            font-size: 18px;
            color: #29303B;

            .form-control {
                font-size: 18px;
            }

            i {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            label {
                &.head {
                    font-size: 20px;
                }
            }
        }
    }

    .CoursesItem {
        .Item {
            .img {
                img {
                    height: 160px;
                    @media (max-width: 767px) {
                        height: 100px;
                    }  
                }
            }

            .detail {
                padding: 15px 25px;

                .name {
                    font-size: 20px;
                    height: 42px;
                }
            }

            .price {
                .promotion {
                    .left {
                        font-size: 14px;
                        padding-top: 5px;

                        &:before {
                            height: 26px;
                            top: 5px;
                            @media (max-width: 767px) {
                                width: 100%;
                                height: 1px;
                                top: 34px;
                                background: #ca0100;
                            }
                        }
                    }

                    .right {
                        font-size: 24px;
                        @media (max-width: 767px) {
                            font-size: 18px;
                        }
                    }
                }

                .normal {
                    font-size: 24px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }

                .free {
                    font-size: 24px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

section.courses_detail {
    margin-bottom: 50px;
    h1 {
        color: #29303B;
        font-size: 36px;

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    h2 {
        font-size: 28px;

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    .detail_left {
        .video {
            img.pro {
                height: 380px;
                object-fit: cover;

                @media (max-width: 767px) {
                    font-size: 30px;
                }
            }

            a {
                color: #fff;
            }

        }

        .courses-detail {
            .Bold {
                margin-top: 15px;
            }

            .overlate {
                overflow: hidden;
                max-height: 150px;
                font-size: 26px;
                -webkit-transition: height 0.8s;
                -moz-transition: height 0.8s;
                transition: height 0.8s;

                @media (max-width: 767px) {
                    font-size: 21px;
                }
            }

            #overlate {
                color: rgb(3, 143, 225);
                font-size: 28px;

                @media (max-width: 767px) {
                    font-size: 22px;
                }

                i {
                    font-size: 17px;
                }
            }
        }

        .courses_lerning {
            display: grid;
            margin-bottom: 25px;

            .boox {
                .head {
                    display: flex;
                    background: #EBE9F2;
                    font-size: 28px;
                    padding: 5px 10px;
                    @media (max-width: 767px) {
                        font-size: 22px;
                    }
                }

                .listt {
                    padding: 8px 0px;
                    padding-left: 22px;
                    border-bottom: 1px solid #EBE9F2;
                    margin-bottom: 5px;
                    float: left;
                    width: 100%;

                    .name {
                        font-size: 24px;
                        float: left;
                        @media (max-width: 767px) {
                            font-size: 18px;
                        }

                        i {
                            margin-right: 8px;
                            font-size: 11px;
                            background: rgb(254, 204, 7);
                            color: rgb(255, 255, 255);
                            padding: 8px 8px 8px 9px;
                            border-radius: 100%;
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .rigth {
                        float: right;
                        margin-top: 8px;

                        span {
                            margin-left: 8px;
                        }

                        .e {
                            padding: 0px 5px;
                            background: #28BEE3;
                            color: #fff;
                            border-radius: 8px;
                        }

                        .i {
                            font-size: 20px;
                            color: #038FE1;
                        }

                        .m {
                            font-size: 20px;
                            min-width: 75px;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .courses-teaher {
            display: flex;

            .img {
                width: 110px;
                @media (max-width: 767px) {
                    width: 80px;
                }

                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 100%;
                    @media (max-width: 767px) {
                        width: 55px;
                        height: 55px;
                    }
                }
            }

            .text {
                width: 100%;

                .name {
                    font-size: 28px;
                    color: #038FE1;
                    @media (max-width: 767px) {
                        font-size: 22px;
                    }
                }

                .pp {
                    .p {
                        font-size: 26px;
                        line-height: 1.2;
                        max-height: 120px;
                        overflow: hidden;
                        @media (max-width: 767px) {
                            font-size: 20px;
                        }
                    }

                    #overlate {
                        color: #038FE1;
                        font-size: 28px;
                        @media (max-width: 767px) {
                            font-size: 22px;
                        }

                        i {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        .courses-review {
            display: flex;
            // align-items: center;
            padding: 20px 20px;
            margin-bottom: 30px;

            @media (max-width: 767px) {
                padding: 20px 0px;
            }

            .all-review {
                width: 25%;
                text-align: center;
                margin-right: 20px;
                padding: 10px 10px;

                @media (max-width: 767px) {
                    width: 30%;
                    margin-right: 5px;
                    padding: 10px 2px;
                }

                .rating-type {
                    margin: 0;
                    font-size: 100px;

                    @media (max-width: 767px) {
                        font-size: 30px;
                    }
                }

                .cours-star {
                    margin: 0;
                    padding: 0;
                    list-style-position: outside;

                    li {
                        display: inline-block;
                        list-style: none;

                        &.active {
                            color: #ffa500;
                        }

                        i {
                            @media (max-width: 767px) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            .review-bar {
                width: 75%;
                font-size: 26px;

                @media (max-width: 767px) {
                    width: 70%;
                    font-size: 15px;
                }

                .bar-bx {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    font-weight: 400;
                    color: #000;

                    .side {
                        width: 15%;
                    }

                    .progress {
                        width: 75%;
                        height: 15px;
                        border-radius: 15px;

                        .progress-bar {
                            border-radius: 15px;
                        }
                    }

                    .percen {
                        text-align: right;
                        width: 10%;
                    }
                }
            }
        }

        .courses-teaher2 {
            display: flex;

            .img {
                width: 80px;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            .name {
                font-size: 28px;
                width: 200px;
                @media (max-width: 767px) {
                    font-size: 22px;
                }

                li {
                    i {
                        @media (max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                }
            }

            .text {
                width: 100%;

                .pp {
                    .p {
                        font-size: 26px;
                        line-height: 1.2;
                        max-height: 128px;
                        overflow: hidden;
                        @media (max-width: 767px) {
                            font-size: 20px;
                        }
                    }

                    #overlate {
                        color: #038FE1;
                        font-size: 28px;
                        @media (max-width: 767px) {
                            font-size: 22px;
                        }

                        i {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }



    .detail_rigth {
        .CoursesDetail {
            color: #29303B;
            margin-bottom: 15px;
            box-shadow: 0px 0px 8px #d4d4d4;
            border-collapse: collapse;
            border-radius: 10px;
            position: sticky;
            top: 140px;

            .img {
                overflow: hidden;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                position: relative;

                img {
                    -webkit-transition: 0.4s ease;
                    transition: 0.4s ease;
                    border-radius: 8px 8px 0px 0px;
                    height: 210px;
                    object-fit: cover;
                }
            }

            .price {
                text-align: center;

                .num {
                    line-height: 0.8;
                    padding: 10px 0px;

                    .a {
                        padding-top: 18px;
                        font-size: 70px;

                        @media (max-width: 767px) {
                            font-size: 30px;
                        }
                    }

                    .b {
                        font-size: 28px;

                        @media (max-width: 767px) {
                            font-size: 25px;
                        }
                    }
                }

                .bt {
                    .aa {
                        margin-bottom: 10px;

                        .btn-custom {
                            background: #25A946;
                            font-size: 38px;
                            box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);

                            @media (max-width: 767px) {
                                font-size: 30px;
                            }
                            &.btn-promo {
                                background: rgb(255, 0, 0);
                            }
                        }
                    }

                    .bb {
                        .btn-custom {
                            border: 1px solid rgb(255, 0, 0);
                            color: rgb(255, 0, 0);
                            background: rgb(255, 255, 255);
                            font-size: 38px;
                            box-shadow: 0 0 2px rgba(41, 48, 59, 0.5);
                            width: auto;
                            display: inline-block;
                            line-height: 1.2;
                        }
                    }
                }
            }

            .text {
                padding: 10px 15px;
                line-height: 1.2;
                margin-top: 15px;

                .p {
                    font-size: 26px;
                    position: relative;
                    padding-left: 25px;
                    color: rgb(88, 87, 91);

                    @media (max-width: 767px) {
                        font-size: 20px;
                    }

                    i {
                        font-size: 16px;
                        position: absolute;
                        left: 0px;
                        top: 5px;

                        @media (max-width: 767px) {
                            font-size: 10px;
                        }
                    }
                }
            }

            .list-group {
                margin-top: 15px;

                a {
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }

                    li {
                        font-size: 26px;
                        padding: 2px 15px;
                        border: 0;
                        border-radius: 0;
                        color: #000;

                        @media (max-width: 767px) {
                            font-size: 20px;
                        }

                        &.active {
                            color: #fff;
                            background: rgb(3, 143, 225);
                            margin-bottom: 8px;
                        }
                    }
                }
            }

            .shrare {
                text-align: center;
                border-top: 1px solid #EBE9F2;

                a {
                    color: #ACACAC;

                    span {
                        font-size: 32px;

                        @media (max-width: 767px) {
                            font-size: 25px;
                        }

                        i {
                            font-size: 20px;

                            @media (max-width: 767px) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    button.btn.focus, button.btn:focus {
        color: #fff;
    }
}

section.courses_learning {
    margin-bottom: 25px;
    h1 {
        font-size: 32px;
    }

    .detail_left {

        .video {
            img.pro {
                height: 380px;
                object-fit: cover;
            }

            a {
                color: #fff;
            }
        }

        .courses-detail {
            .Bold {
                margin-top: 15px;
                font-size: 28px;

                @media (max-width: 767px) {
                    font-size: 22px;
                }
            }

            .overlate {
                overflow: hidden;
                max-height: 150px;
                font-size: 20px;
                -webkit-transition: height 0.8s;
                -moz-transition: height 0.8s;
                transition: height 0.8s;

                @media (max-width: 767px) {
                    font-size: 17px;
                }
            }

            #overlate {
                color: rgb(3, 143, 225);
                font-size: 28px;
                @media (max-width: 767px) {
                    font-size: 22px;
                }

                i {
                    font-size: 17px;

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
        }

    }

    .detail_rigth {
        .courses_lerning {
            display: grid;
            margin-bottom: 25px;

            .names {
                position: relative;
                font-size: 19px;
                margin-bottom: 15px;
                margin-right: 5px;

                @media (max-width: 767px) {
                    font-size: 20px;
                }

                .btn {
                    line-height: 1;
                    font-size: 22px;
                    color: #fff;
                    background: #ACACAC;

                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }

            .boox {
                max-height: 400px;
                overflow: auto;

                .head {
                    display: flex;
                    background: #EBE9F2;
                    font-size: 22px;
                    padding: 5px 10px;

                    @media (max-width: 767px) {
                        font-size: 25px;
                    }
                }

                .listt {
                    padding: 5px 10px;
                    border-bottom: 1px solid #EBE9F2;
                    margin-bottom: 5px;
                    float: left;
                    width: 100%;

                    .name {
                        font-size: 19px;
                        float: left;
                        position: relative;
                        display: inline-flex;

                        @media (max-width: 767px) {
                            font-size: 22px;
                        }

                        i {
                            font-size: 15px;
                            background: rgb(254, 204, 7);
                            color: rgb(255, 255, 255);
                            padding: 8px;
                            border-radius: 100%;
                            width: 30px;
                            height: 30px;
                        }

                        .embed-container {
                            position: relative;
                            padding-bottom: 56.25%;
                            overflow: hidden;
                        }

                        .embed-container iframe,
                        .embed-container object,
                        .embed-container embed {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }

                        .course-lesson-title {
                            padding-left: 55px;
                        }


                        #percent {
                            display: block;
                            width: 160px;
                            border: 1px solid #CCC;
                            border-radius: 5px;
                            margin: 50px auto 20px;
                            padding: 10px;
                            color: #1ABC9C;
                            font-size: 35px;
                            text-align: center;
                        }

                        #donut {
                            display: block;
                            margin: 0px auto;
                            color: #1ABC9C;
                            font-size: 20px;
                            text-align: center;
                        }



                        code {
                            background: #FAFAFA;
                            border: 1px solid #DDD;
                            border-radius: 3px;
                            padding: 0px 4px;
                        }

                        .donut-size {
                            font-size: 40px;
                        }

                        .pie-wrapper {
                            position: absolute;
                            width: 1em;
                            height: 1em;
                            margin: 0px auto;
                        }

                        .pie-wrapper .pie {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            clip: rect(0, 1em, 1em, 0.5em);
                        }

                        .pie-wrapper .half-circle {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 100%;
                            border: 0.1em solid #ffc107;
                            border-radius: 50%;
                            clip: rect(0em, 0.5em, 1em, 0em);
                        }

                        .pie-wrapper .right-side {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }

                        .pie-wrapper .label {
                            position: absolute;
                            bottom: -9px;
                            left: 1px;
                            display: block;
                            background: none;
                            border-radius: 50%;
                            color: #7F8C8D;
                            font-size: 18px;
                            line-height: 2.6em;
                            text-align: center;
                            cursor: default;
                            z-index: 2;
                        }

                        .pie-wrapper .smaller {
                            padding-bottom: 20px;
                            color: #BDC3C7;
                            font-size: 0.45em;
                            vertical-align: super;
                        }

                        .pie-wrapper .shadow-c {
                            width: 100%;
                            height: 100%;
                            border: 0.1em solid #BDC3C7;
                            border-radius: 50%;
                        }


                    }

                    .rigth {
                        float: right;
                        margin-top: 8px;

                        span {
                            margin-left: 8px;
                        }

                        .m {
                            font-size: 20px;

                            @media (max-width: 767px) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}